#search-bar{
  animation-name: search-bar;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes search-bar {
  0%{
    margin-top: 50vh;
  }
  100%{
    margin-top: 0vh;
  }
}

#image-items{
  animation-name: image-items;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes image-items {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#image-item{
  animation-name: image-item;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes image-item {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}